---
---

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
		<meta name="referrer" content="no-referrer" />
		<style type="text/css">
.card {
	border: 0 !important;
	box-shadow: 0 .25rem 1rem rgba(48,55,66,.15) !important;
	margin: .4rem !important;
}
.vert-center {
	align-items: center;
}
		</style>
	</head>
	<body class="container">
		<div class="columns">
			<div class="column col-6 col-sm-12 col-mx-auto">

				{% for s in site.websites %}
					<div class="card">
						<div class="card-body columns vert-center">
							<div class="column col-8 accordion">
								<input type="checkbox" id="accordion-{{ s.relative_path | slugify }}" name="accordion-checkbox" hidden />
								<label class="accordion-header" for="accordion-{{ s.relative_path | slugify }}">
									<figure class="avatar avatar-lg">
										<img src="assets/{{ s.icon }}">
									</figure>
									<span class="h4 card-title">{{ s.title }}</span>
									<span class="card-subtitle text-gray">{{ s.subtitle }}</span>
								</label>
								<div class="accordion-body">
									<label>{{ s.content | markdownify }}</label>
								</div>
							</div>
							<div class="column col-4 col-ml-auto text-right">
								<a href="{{ s.link }}">
									<img src="{{ s.image }}" type="image/svg+xml" />
								</a>
							</div>
						</div>
					</div>
				{% endfor %}

				<footer class="text-gray text-center">
					{% capture footer-md %}{% include_relative _footer.md %}{% endcapture %}
					{{ footer-md | markdownify }}
				</footer>
			</div>
		</div>
	</body>
</html>
